<nav class="navbar-container">
  <div style="flex-grow: 1; display: flex; gap: 4px">
    <img src="/logo.svg" />
    <a href="#" style="font-weight: 700; font-size: 20px; color: #EAA79E">FlowrSpot</a>
  </div>

  <a href="#">Flowers</a>
  <a href="#">Latest Sightings</a>
  <a href="#">Favorites</a>
  <a href="#">Login</a>
  <button>New Account</button>
</nav>

<style>
  a {
    text-decoration: none;
    color: #949EA0;
  }
  button {
    border: none;
    color: white;
    padding: 8px;
    min-height: 30px;
    background: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
    box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
    border-radius: 50px;
  }
  .navbar-container {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    gap: 2rem;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    margin: 0;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  }
</style>
